@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-lato: 'Roboto', sans-serif;
  --color-dodger-blue-50: #eefaff;
  --color-dodger-blue-100: #d9f2ff;
  --color-dodger-blue-200: #bce9ff;
  --color-dodger-blue-300: #8dddff;
  --color-dodger-blue-400: #58c7ff;
  --color-dodger-blue-500: #31abff;
  --color-dodger-blue-600: #2492f6;
  --color-dodger-blue-700: #1375e2;
  --color-dodger-blue-800: #165eb7;
  --color-dodger-blue-900: #185090;
  --color-dodger-blue-950: #143157;
}

@layer base {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  .wrapper {
    @apply max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8 min-h-screen pt-12.5 pb-20;
  }

  /** HEADER  **/
  .header {
    @apply flex items-center justify-between max-w-[1440px] mx-auto pt-3 px-4 sm:px-6 lg:px-8;

    div {
      @apply flex items-center gap-6;

      &:first-child {
        @apply gap-12;
      }

      .nav {
        @apply flex items-center gap-2;

        .tab {
          @apply text-base text-dodger-blue-950 hover:bg-dodger-blue-500 active:bg-dodger-blue-700 hover:text-dodger-blue-50  focus:ring-dodger-blue-500 focus:bg-dodger-blue-500 focus:text-dodger-blue-50 active:text-dodger-blue-50   no-underline rounded-md px-3 py-1 active:scale-95 transition;
        }
        .active {
          @apply bg-dodger-blue-500 text-dodger-blue-50;
        }
      }

      .username {
        @apply text-dodger-blue-950 text-lg;
      }

      .btn-logout {
        @apply text-base flex gap-2 items-center justify-around hover:text-dodger-blue-50 hover:bg-dodger-blue-950 border border-dodger-blue-950;
      }
    }

    .text-primary {
      @apply text-3xl text-dodger-blue-950 font-bold;
    }
  }
  .form {
    @apply bg-dodger-blue-950 max-w-[600px] min-w-[500px]  px-8 py-6 rounded-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col gap-4 justify-center text-dodger-blue-50;

    .input-container {
      @apply flex flex-col gap-2;

      label {
        @apply text-lg;
      }

      input {
        @apply bg-dodger-blue-50 text-dodger-blue-950 py-2 px-3 rounded-md outline-0 focus:border-2 focus:border-dodger-blue-600 border-2 border-dodger-blue-50 transition text-base;
      }
    }
    .btn {
      @apply bg-dodger-blue-500 text-dodger-blue-50 hover:bg-dodger-blue-600;
    }

    .link {
      @apply hover:border-b-1 text-dodger-blue-200 hover:text-dodger-blue-500 transition;
    }
  }
  .btnsContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .btn {
    display: inline-block;
    background: none;
    color: #fff;
    background-color: #333;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
  }

  .link,
  .link:active,
  .link:visited {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    padding: 8px 16px;
  }

  .tabs {
    display: flex;
    gap: 1rem;
  }
}
